@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Fira Sans", sans-serif;
    background: #0d3d0d;
    width: 100%; /*vw pega da tela e % do elemento pai*/
    height: auto;
    min-height: 100vh;
}

header{
    width: 100%;
    height: auto;
    background-color: rgb(169,0,0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

article{
    max-width: 300px;    
    padding: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    background-color:#fff;
    margin: 0 auto;

}

.logo{
    width: 300px;
}

nav{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.menu{
    color: #fff;
    cursor: pointer;
}

.menu:hover{
    color: #ffc700;
}